---
// src/components/ContentRenderer/variants/SocialMediaVariant.astro
/**
 * Social Media Variant - Social icon list
 * Features: Horizontal/vertical layout, size variants, gold gradient styling
 */

import type { BaseVariantProps } from "../ContentRenderer.types";
import SocialIcon from "@/components/LoopComponents/SocialIcon.astro";

interface Props extends BaseVariantProps {
  size?: "sm" | "md" | "lg";
  layout?: "horizontal" | "vertical";
  alignment?: "left" | "center" | "right";
}

const {
  items = [],
  title,
  description,
  className = "",
  size = "sm",
  layout = "horizontal",
  alignment = "left",
  id,
} = Astro.props as Props;

const alignmentClasses = {
  left: "justify-start",
  center: "justify-center",
  right: "justify-end",
};

const layoutClasses = {
  horizontal: "flex-row",
  vertical: "flex-col",
};
---

<div id={id} class={className}>
  {
    items.length > 0 && (
      <ul
        class={`flex ${layoutClasses[layout]} ${alignmentClasses[alignment]} gap-4 list-none flex-wrap`}
      >
        {items.map((item) => (
          <li>
            <SocialIcon {...item} size={size} />
          </li>
        ))}
      </ul>
    )
  }
</div>
